<footer class=" bg-black text-white ">
    <div class="container ">
        <div class="row py-5">
            <div class="col-lg-4">
                <div class="text-center py-4">
                    <h3 class="mb-4">LOCATION</h3>
                    <p>2215 John Daniel Drive
                        <br>Clark, MO 65243
                    </p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="text-center py-4">
                    <h3 class="mb-4">AROUND THE WEB</h3>
                    <div class="social-icons d-flex  justify-content-center align-items-center">
                        <div class="icons me-2 d-flex  justify-content-center align-items-center rounded-circle">
                            <i class="fa-brands fa-facebook-f  fa-xl"></i></div>
                        <div class="icons me-2 d-flex justify-content-center align-items-center rounded-circle ">
                            <i class="fa-brands fa-twitter fa-xl "></i>
                        </div>
                        <div class="icons  me-2 d-flex  justify-content-center align-items-center rounded-circle">
                            <i class="fa-brands fa-linkedin-in fa-xl"></i></div>
                        <div class="icons me-2 d-flex justify-content-center align-items-center rounded-circle ">
                            <i class="fa-brands fa-dribbble fa-xl "></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="text-center py-4">
                    <h3 class="mb-4">ABOUT FREELANCER</h3>
                    <p class="px-4">Freelance is a free to use, MIT licensed Bootstrap theme created by Route
                    </p>
                </div>
            </div>
        </div>

    </div>
    <div class="container-fluid">
        <div class="row bg-copyright ">
            <div class="col-m-12 ">
                <div class="text-center py-3 d-flex justify-content-center align-items-center ">
                    <small>Copyright © Your Website 2021</small>
                </div>

            </div>
        </div>
    </div>
</footer>